/* Rules for sizing Google icons */
.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.code-text {
  font-family: 'Roboto Mono', monospace;
  max-height: 150px;
  overflow-y: scroll;
}

.like-button {
  letter-spacing: -3px;
}

.reddit-info-row {
  white-space: nowrap;
}

.float-button {
  position: fixed;
  width: 80px;
  height: 80px;
  bottom: 40px;
  right: 40px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 3px #999;
}
